.w3-sidebar a {font-family: "Roboto", sans-serif}
  body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
  .mySlides {display: none;}
  .w3-tag, .fa {cursor: pointer;} 
  .w3-tag {height: 15px;width:15 px;padding: 0;margin-top: 6px;}
  p {text-indent: 0px;text-transform: none;border: 0px solid black;margin-top: 0px;margin-bottom: 10px;margin-right: 80px;margin-left: 80px;background-color: none;font-size: 21px;}
  section {color: black;text-transform: none;border: 0px solid black;margin-right: 100px;margin-left: 80px;background-color: none;font-size: 21px;}
  i {color: red;}
  .mySlides {font-style:italic;font-size:20px;text-align:center;}
  .palabras {font-style:italic;font-size:20px;text-align:center;}
  h1 { text-align: center;}
  h2 {text-align: left; font-size: 17px; color: red;}
  h3  {text-align: right;}
  h4 {text-align: center;}
  h5 {text-align: center; color: red;}
  